<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Passwords</title>
  <link rel="stylesheet" href="1pwd.css"/>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

  <div id="authapp">

    <header>
      <h1>Passwords</h1>
      <input type="text" placeholder="Which service needs authentication?" id="new-auth">
    </header>

    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="auth-list"></ul>
    </section>

    <footer>
      <a id="clear-all">Clear all logins</a>
    </footer>

  </div>

  <div id="instructions">
    Double-click to edit a login.
  </div>

  <div id="credits">
    Created by
    <br />
    <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>.
    <br />Rewritten by: <a href="http://addyosmani.github.com/authmvc">TodoMVC</a>.
  </div>

  <script src="contrib/jquery.js"></script>
  <script src="contrib/underscore.js"></script>
  <script src="contrib/backbone.js"></script>
  <script src="contrib/backbone.localStorage.js"></script>
  <script src="1pwd.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <span><%- login %></span>
      <a class="action copy fa fa-clipboard"></a>
      <a class="action edit fa fa-pencil"></a>
      <a class="action delete fa fa-remove"></a>
    </div>
    <div class="edit">
      <input type="text" value="<%- login %>">

      <label for="alphabet-<%- order %>">Alphabet</label>
      <input class="alphabet" id="alphabet-<%- order %>" type="text" value="<%- alphabet %>">

      <label for="length-<%- order %>">Length</label>
      <input id="length-<%- order %>" type="number" min="2" max="80" value="<%- length %>">

      <a class="action save fa fa-check"></a>
    </div>
  </script>

  </body>
</html>
